@model IEnumerable<ServerSideProject.Models.Book>

@{
    ViewBag.Title = "BooksView";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>BooksView</h2>

<table class="table table-bordered table-hover">
    <thead>
    <tr>
        <th>Books</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var book in Model)
    {
        <tr>
            <td>
                <strong>@book.Name</strong>, @book.AuthorName, @book.ReleaseYear
                <br/> Lorem ipsum dolor sit amet,
                consectetur adipiscing elit. In fringilla mollis ornare.
                Nulla lorem massa, facilisis ac quam eget, pretium tristique lorem.
                Praesent gravida posuere lectus non gravida. Proin at porttitor mauris.
            </td>
        </tr>
    }
    </tbody>
</table>