@model IEnumerable<ServerSideProject.Models.Author>
@{
    ViewBag.Title = "AuthorsView";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>AuthorsView</h2>

<table class="table table-bordered table-hover">
    <thead>
    <tr>
        <th>Name</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var author in Model)
    {
        <tr>
            <td>@author.Name</td>
        </tr>
    }
    </tbody>
</table>