@model ServiceLayer.Models.AdminDetails

@{
    ViewBag.Title = "AdminDetails";
}

<h2>AdminDetails</h2>

@*
    vill ha namn, email från admin  
*@

<b>Name: @Model.FirstName @Model.LastName</b>
<p>Contact: @Model.Email</p>
